
@using PagedList
@using PagedList.Mvc
@using test3.Models.StokEntity;
@model PagedList.IPagedList<StokUrunlerr>
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div style="margin-top:20px">
		<table class="table table-bordered">
			<tr>
				<th>Urun ID</th>
				<th>Urun AD</th>
				<th>Markası</th>
				<th>Kategori</th>
				<th>Fiyat</th>
				<th>Stok</th>
				<th>Sil</th>
				<th>Güncele</th>
			</tr>
			<tbody>
				@foreach (var urn in Model)
				{
				<tr>
					<th>@urn.UrunID</th>
					<td>@urn.UrunAd</td>
					<td>@urn.Marka</td>
					<td>@urn.StokKategori.KategoriAd</td>
					<td>@urn.Fiyat</td>
					<td>@urn.Stok</td>
					<td>@Html.ActionLink("Sil Butonu", "UrunSil", new { id = urn.UrunID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyormusunuz ?')" })</td>
					@*<td><a href="/Urun/UrunSil/@urn.UrunID" class="btn btn-danger">Sil</a></td>*@
					<td><a href="/Urun/UrunGetir/@urn.UrunID" class="btn btn-success">Güncelle</a></td>
				</tr>
				}
			</tbody>

		</table>
		@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
		<a href="/Urun/UrunEkle/" class="btn btn-primary">Ürün Ekle</a>
	</div>
</body>
</html>
