@model test3.Models.StokEntity.StokUrunlerr
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UrunGetir</title>
</head>
<body>
	<div>
		@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
		{
		<div class="form-group">
			@Html.LabelFor(m => m.UrunID)
			@Html.TextBoxFor(m => m.UrunID, new { @class = "form-control" })
			<br />
			@Html.LabelFor(m => m.UrunAd)
			@Html.TextBoxFor(m => m.UrunAd, new { @class = "form-control" })
			<br />
			@Html.LabelFor(m => m.Marka)
			@Html.TextBoxFor(m => m.Marka, new { @class = "form-control" })
			<br />
			@Html.LabelFor(m => m.UrunKategori)
			@*@Html.TextBoxFor(m => m.UrunKategori, new { @class = "form-control" })*@
			@Html.DropDownListFor(m => m.StokKategori.KategoriID, (List<SelectListItem>)ViewBag.katdgr, new { @class = "form-control" })
			<br />
			@Html.LabelFor(m => m.Fiyat)
			@Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
			<br />
			@Html.LabelFor(m => m.Stok)
			@Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })
			<br />

		</div>
			<div>
				<button class="btn btn-warning">Güncelle</button>
			</div>
		}
	</div>
</body>
</html>
