


@using PagedList
@using PagedList.Mvc
@using test3.Models.StokEntity;
@model PagedList.IPagedList<StokMusteriBilgi>
@{
	Layout = "~/Views/Shared/_Personel.cshtml";
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body style="margin-top:20px">
	<div>
		<table class="table table-bordered">
			<tr>
				<th>ID</th>
				<th>Adı</th>
				<th>Soyadı</th>
				<th>Adres</th>
				<th>Sil</th>
				<th>Güncele</th>
			</tr>
			<tbody>
				@foreach (var mus in Model)
				{
					<tr>
						<th>@mus.MusteriID</th>
						<td>@mus.MusteriAd</td>
						<td>@mus.MusteriSoyad</td>
						<td>@mus.MusteriAdres</td>
						<td>@Html.ActionLink("Sil Butonu", "MusteriSil", new { id = mus.MusteriID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyormusunuz ?')" })</td>

						@*<td><a href="/Musteri/MusteriSil/@mus.MusteriID" class="btn btn-danger">Sil</a></td>*@
						<td><a href="/Musteri/MusteriGetir/@mus.MusteriID" class="btn btn-success">Güncelle</a></td>


					</tr>
				}
			</tbody>

		</table>

		<a href="/Musteri/MusteriEkle/" class="btn btn-primary">Müşteri Ekle</a>
	</div>
</body>
</html>
